@import './components/Header.css';
@import './components/Banner.css';
@import './components/About.css';
@import './components/ContactForm.css';
@import './components/Flats.css';
@import './components/Gallery.css';
@import './components/Maps.css';
@import './components/Contact.css';
@import './components/Footer.css';
@import './components/Other.css';

:root {
    --primary-color: #8d9363;
    --secondary-color: #e8e8e8;
    --light: white;

    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-wrapper {
    max-width: 1200px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

.title {
    font-weight: 300;
}